@section cssFile
{
    @Styles.Render("~/Login/css")
}

<!-- Login-Signup -->
<div class="content login-frame">
    <div class="row justify-content-center inner-contents">
        <div class="col-md align-logo adjust-padding">
            <img src="../images/lightmode_logo.png" alt="Image" class="login-logo">
        </div>
        <div class="col-md contents adjust-padding">
            <div class="row justify-content-center inner-contents">
                <div class="col-md-8">
                    <div class="mb-4">
                        <h3 class="headings-for-page">LOGIN</h3>
                    </div>
                    <form action="@Url.Action("Login", "LoginSignup", new { id = "" })" onsubmit="return check_login_form()" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" id="username" placeholder="Email ID" name="Email" required>
                        </div>
                        <div class="form-group mb-4">
                            <input type="password" class="form-control" id="logpassword" placeholder="Password" name="Password" required minlength="8">
                        </div>

                        <input type="submit" value="Log In" class="btn btn-block login-button">

                        <div class="d-flex mt-4 justify-content-center">
                            <span>Don't have an account? <span class="signup-link">Sign Up</span></span>
                        </div>

                        <span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span>

                        <div class="social-login">
                            <a href="#" class="facebook">
                                <span class="icon-facebook mr-3"><i class="fa fa-facebook-f"></i></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="icon-twitter mr-3"><i class="fa fa-twitter"></i></span>
                            </a>
                            <a href="#" class="google">
                                <span class="icon-google mr-3"><i class="fa fa-google"></i></span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content signup-frame">
    <div class="row justify-content-center inner-contents">
        <div class="col-md align-logo adjust-padding">
            <img src="../images/lightmode_logo.png" alt="Image" class="login-logo">
        </div>
        <div class="col-md contents adjust-padding">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="mb-4">
                        <h3 class="headings-for-page">SIGN UP</h3>
                    </div>
                    <form action="@Url.Action("SignUp", "LoginSignup", new { id = "" })" onsubmit="return check_signup_form()" method="post">
                        <div class="form-group mb-4">
                            <input type="text" class="form-control" name="FullName" id="fullName" placeholder="Full Name" required
                                   onkeyup="check_name()">
                            <span id="nameError"></span>
                        </div>
                        <div class="form-group  mb-4">
                            <input type="text" class="form-control" name="PhoneNumber" id="phoneNumber" placeholder="Number" required
                                   minlength="10" onkeyup="check_phone()">
                            <span id="numberError"></span>
                        </div>
                        <div class="form-group mb-4">
                            <input type="email" class="form-control" name="Email" id="email" placeholder="Email ID" required
                                   onkeyup="check_mail()">
                            <span id="emailError"></span>
                        </div>
                        <div class="form-group mb-4">
                            <input type="password" class="form-control" name="Password" id="password" placeholder="Password"
                                   minlength="8" required>
                        </div>
                        <div class="form-group mb-4">
                            <input type="password" class="form-control" id="confirmPassword"
                                   placeholder="Confirm Password" minlength="8" required onkeyup="pass_confirm()">
                            <span id="confirmPasswordError"></span>
                        </div>
                       
                        <div class="d-flex mb-3">
                            <span>
                                <input type="checkbox" name="terms-and-conditions" id="termsAndConditions"
                                       onclick="termsconditions()">
                                <label for="termsAndConditions">
                                    <a href="#">
                                        <span id="terms-label" data-bs-toggle="modal"
                                           data-bs-target="#termsAndConditionsModal">
                                            ACCEPT TERMS AND CONDITIONS <i class="fa fa-external-link"></i>
                                        </span>
                                    </a>
                                </label>
                            </span>
                        </div>
                        <input type="submit" value="Signup" class="btn btn-block signup-button" id="submit-btn"
                               disabled>
                        <span id="submitError"></span>
                        <div class="d-flex mt-4 justify-content-center">
                            <span>Already have an account? <span class="login-link">Login</span></span>
                        </div>
                        <span class="d-block text-left my-4 text-muted">&mdash; or Sign Up with &mdash;</span>
                        <div class="social-login">
                            <a href="https://facebook.com/" class="facebook">
                                <span class="icon-facebook mr-3"><i class="fa fa-facebook-f"></i></span>
                            </a>
                            <a href="https://twitter.com/" class="twitter">
                                <span class="icon-twitter mr-3"><i class="fa fa-twitter"></i></span>
                            </a>
                            <a href="https://www.google.com/" class="google">
                                <span class="icon-google mr-3"><i class="fa fa-google"></i></span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Login-Signup -->
<!-- Modal -->
<div class="modal fade" id="termsAndConditionsModal" tabindex="-1" aria-labelledby="termsAndConditionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 headings-for-page" id="termsAndConditionsModalLabel">Terms and Conditions</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Welcome to the SOLESTORE community!  You are reading these Terms because you are using a SOLESTORE website, digital experience, social media platform, mobile app, wearable technology, or one of our other products or services, all of which are part of SOLESTORE’s Platform.  You may access the Platform through a computer, mobile phone, tablet, console, or other technology, which we refer to here as a “Device”.  Your carrier's normal rates and fees apply to your Device.<br><br>
                    These Terms create a legally binding agreement between you and SOLESTORE and its affiliates (which we may refer to as “SOLESTORE,” “we,” “us,” or “our”) regarding your use of the Platform.<br><br>
                    Please review our List of Local Entities for the name of the SOLESTORE entity responsible for providing the Platform to you and the appropriate contact information. A few important points: <br><br>
                    •	Our Terms May Change.  Some jurisdictions do not permit unilateral updates or changes to consumer terms, so this paragraph may not apply to you. We may update these Terms from time to time.  If a material change is made, we will post a notice on the Platform or send you a notification.  Read through any changes, and if you do not agree to them, please stop using the Platform.  If you continue to use our Platform after we notify you of changes, you will be deemed to have accepted the updated Terms, except to the extent prohibited by applicable law.<br><br>
                    •	Terms of Sale.  By making any purchase with us, you also agree to the Terms of Sale that apply in your country or region. <br><br>
                    •	Privacy Policy.  Our Privacy Policy describes the collection and use of personal information on the Platform and applies to your use of the Platform. <br><br>
                    •	Important Notice for Amateur Athletes.  You are responsible for ensuring that your participation on the Platform does not affect your eligibility as an amateur athlete.  Please check with your amateur athletic association for the rules that apply to you.  SOLESTORE is not responsible or liable for your use of the Platform resulting in your ineligibility as an amateur athlete. <br><br>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Vertically centered scrollable modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"></div>
<!-- Modal -->

@section scriptFile
{
    @Scripts.Render("~/Login/js")
}
