@section cssFile
{
    @Styles.Render("~/AboutUs/css")
}

<div id="aboutPageBanner">
    <img src="../images/aboutUs_bg.png" alt="" width="100%" id="laptopAboutBanner">
</div>


<div class="row m-5">
    <div class="col-md-6 mb-4 align-img adjust-padding">
        <img src="../images/lightmode_logo.png" alt="logo" class="about-logo adjust-img" id="aboutUsMainLogo">
    </div>

    <div id="text" class="col-md-6">
        <h1 class="headings-for-page">Who are we?</h1>
        <p>
            We are students from NMIMS MPSTME MUMBAI, Creating our frist website design as our front end
            development project
        </p>
        <p>
            This is a random paragraph <br> Generating random paragraphs can be an excellent way for writers to
            get
            their creative flow going at the beginning of the day. The writer has no idea what topic the random
            paragraph
            will be about when it appears. This forces the writer to use creativity to complete one of three
            common writing
            challenges. The writer can use the paragraph as the first one of a short story and build upon it. A
            second
            option is to use the random paragraph somewhere in a short story they create. The third option is to
            have
            the random paragraph be the ending paragraph in a short story. No matter which of these challenges
            is undertaken, the writer is forced to use creativity to incorporate the paragraph into their
            writing.
        </p>
        <br><br>
    </div>
</div>

<marquee>
    <---------------------------C002 Aaditya Mall,C006 Manya Gor, C017 Shivam Kulkarni--------------------------->
</marquee>

<div id="creatorsData" class="container mt-4 mb-4">
    <h1 id="mainContentHeader" class="headings-for-page">Know about creators of this page</h1>
    <div class="row align-data">
        <div class="col-sm-6 align-img adjust-padding">
            <img src="../images/aaditya_profile.jpeg" alt="aadityarmall" class="adjust-img prof-img">
        </div>
        <div class="col-sm-6">
            <p>
                <span>Aaditya Mall</span> <br>Roll Number : C002<br>Phone : 9326430750 <br> Email :
                aadityarmall@gmail.com
                <div class="format-socials-icons mb-2">
                    <a href="https://facebook.com" class="me-4 text-reset">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="https://instagram.com" class="me-4 text-reset">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://linkedin.com" class="me-4 text-reset">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com" class="me-4 text-reset">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
                Pursuing Bachelor of Technology in the field of Computer Science
                with a specialization in Artificial Intelligence. Creative individual with good skills in math,
                logic, coding, and looking forward to learn new things.
            </p>
        </div>
    </div>
    <hr class="format-hr">
    <div class="row align-data">
        <div class="col-sm-6 align-img adjust-padding">
            <img src="../images/manya_profile.jpg" alt="manyagor" class="adjust-img prof-img">
        </div>
        <div class="col-sm-6">
            <p>
                <span>Manya Gor</span> <br>Roll Number : C006<br>Phone : 7021017965 <br> Email :
                manyagor@gmail.com
                <div class="format-socials-icons mb-2">
                    <a href="https://facebook.com" class="me-4 text-reset">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="https://instagram.com" class="me-4 text-reset">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://linkedin.com" class="me-4 text-reset">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com" class="me-4 text-reset">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
                Pursuing Bachelor of Technology in the field of Computer Science
                with a specialization in Artificial Intelligence. Creative individual with good skills in math,
                logic, coding, and looking forward to learn new things.
            </p>
        </div>
    </div>
    <hr class="format-hr">
    <div class="row align-data">
        <div class="col-sm-6 align-img adjust-padding">
            <img src="../images/shivam_profile.jpg" alt="shivamkulkarni" class="adjust-img prof-img">
        </div>
        <div class="col-sm-6">
            <p>
                <span>Shivam Kulkarni</span> <br>Roll Number : C017<br>Phone : 7045069796 <br> Email :
                shivamkulkarni@gmail.com
                <div class="format-socials-icons mb-2">
                    <a href="https://facebook.com" class="me-4 text-reset">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a href="https://instagram.com" class="me-4 text-reset">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://linkedin.com" class="me-4 text-reset">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com" class="me-4 text-reset">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
                Pursuing Bachelor of Technology in the field of Computer Science
                with a specialization in Artificial Intelligence. Creative individual with good skills in math,
                logic, coding, and looking forward to learn new things.
            </p>
        </div>
    </div>
</div>

@section scriptFile
{
    @Scripts.Render("~/AboutUs/js")
}