@section cssFile
{
    @Styles.Render("~/ContactUs/css")
}

<div id="contactPageBanner">
    <img src="../images/contactUs_bg.png" width="100%" alt="" id="laptopContactBanner">
</div>

<div class="row m-5">
    <div id="contactDetails" class="col-md-6 p-5">
        <span class="headings-for-page">GET IN TOUCH</span>
        <h2>Visit our agency location or contact us today.</h2>
        <h5>Head Office</h5>
        <ul>
            <li><i class="fa fa-map"></i><span>MPSTME, Vile Parle (W), Mumbai</span></li>
            <li><i class="fa fa-envelope"></i><span>aadityarmall@gmail.com</span></li>
            <li><i class="fa fa-phone"></i><span>9326430750</span></li>
            <li><i class="fa fa-clock-o"></i><span>9:00 - 20:00 Monday- Friday</span></li>
        </ul>
    </div>

    <div id="map" class="col-md-6 px-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.9449786834048!2d72.83544851437728!3d19.110069555867852!2m
        3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9b888ae67fd%3A0xe0b9538d623ac5d2!2sMukesh%20Patel%20School%20Of%20Technolo
        gy%20Management%20%26%20Engineering!5e0!3m2!1sen!2sin!4v1667165494830!5m2!1sen!2sin" width="100%" height="100%" style="border:0;"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<div id="contactTable" class="container mb-4">
    <div class="row m-3 p-4">
        <div class="col-md-12 p-0">
            <span class="headings-for-page">LEAVE A MESSAGE</span>
            <h2>We love your feedbacks!</h2>
        </div>
        <div class="col p-0 mt-4">
            <div class="row">
                <div class="col-md-8">
                    <form action="" id="contactForm" class="adjust-flex">
                        <input type="text" placeholder="Your Name" id="" required>
                        <input type="email" placeholder="Email Id" id="" required>
                        <input type="text" placeholder="Subject">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
                        <button value="submit">SUBMIT</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="adjust-flex">
                        <div class="people-details">
                            <img src="../images/aaditya_profile.jpeg" alt="aadityarmall">
                            <p><span>Name :</span> Aaditya Mall <br> <span>Roll Number :</span> C002<br><span>Phone :</span> 9326430750 <br><span>Email :</span> aadityarmall@gmail.com</p>
                        </div>
                        <div class="people-details mt-4">
                            <img src="../images/manya_profile.jpg" alt="manyagor">
                            <p><span>Name :</span> Manya Gor <br><span>Roll Number : </span> C006<br><span>Phone :</span> 7021017965 <br> <span>Email :</span> manyagor2@gmail.com</p>
                        </div>
                        <div class="people-details mt-4">
                            <img src="../images/shivam_profile.jpg" alt="shivamkulkarni">
                            <p><span>Name :</span> Shivam Kulkarni <br> <span>Roll Number : </span> C017<br><span>Phone :</span> 7045069796 <br> <span>Email :</span> shivam.suyash@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
