@section cssFile
{
    @Styles.Render("~/Home/css")
}
<!-- Home Page -->
<!-- Carousel -->
<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="../images/SoleStore_carousel.png" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../images/formalshoes_carousel.png" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../images/sneakers_carousel.png" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="../images/sportsShoes_carousel.png" class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Carousel -->
<div class="row">
    <div class="col-lg text-center mt-5 mb-5">
        <h1 id="shopByCategoryHead">Shop By Category</h1>
    </div>
    <div class="row text-center mb-5 ">
        <div class="col-md-4 mb-5">
            <a href="">
                <img src="../images/sneakers_circle.png" alt=""
                     class="images category-shop-button">
            </a>
        </div>
        <div class="col-md-4 mb-5">
            <a href="">
                <img src="../images/formal_circle.png" alt=""
                     class="images category-shop-button">
            </a>
        </div>
        <div class="col-md-4 mb-5">
            <a href="">
                <img src="../images/sports_circle.png" alt=""
                     class="images category-shop-button">
            </a>
        </div>
    </div>

    <div>
        <div class="text-center mt-5 mb-5">
            <h1 id="bestSellingProductsHead">Our Best Selling Products!</h1>
        </div>
    </div>
    <div class="best-sellers">
        <div class="prod-box">
            <img src="../Products/Casual Wear/Product 1/img1.png" alt="">
            <span>Product name</span>
            <span>Product Price</span>
        </div>
        <div class="prod-box">
            <img src="../Products/Casual Wear/Product 1/img1.png" alt="">
            <span>Product name</span>
            <span>Product Price</span>
        </div>
        <div class="prod-box">
            <img src="../Products/Casual Wear/Product 1/img1.png" alt="">
            <span>Product name</span>
            <span>Product Price</span>
        </div>
    </div>

</div>
<!-- Home Page -->