@model ECommerceWebsite.Models.ProductListModel

@foreach (var currentProduct in Model.ProductList)
{
    <div class="prod-box" onclick="goToProduct(@currentProduct.ID)">
        <img src="@currentProduct.ImagePath_1" alt="">
        <span class="prod-inner-span-bold">@currentProduct.Name</span>
        <span>₹ @currentProduct.Price</span>
    </div>
}
